@font-face {
  font-family: "Formula";
  src:
    local("Formula"),
    url("./assets/fonts/PPFormula-CondensedBlack.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Formula", sans-serif;
    text-transform: uppercase;
    color: aqua;
}

button {
    border: none;
    font-family: "Formula", sans-serif;
    text-transform: uppercase;
    font-size: 2vh;
    cursor: pointer;
    padding: 1vh 2vh;
    /*border: 0.3vh solid aqua;*/
    transition: all 0.3s ease;
    width: 12vh;
    height: 6vh;
    margin: 1vh;
    border-radius: 10px; /* Rounds the corners */

}


#btn1 {
    position: relative;
    z-index: 10;
    background-image: url(./assets/texturas/vines-bl/vines_albedo.png);
    background-size: cover; /* Ensures the image covers the entire button */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#btn2 {
    position: relative;
    z-index: 10;
    background-image: url(./assets/texturas/metal-panel/vented-metal-panel1_albedo.png);
    background-size: 200px;
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#btn1:hover {
    background-color: rgb(255, 187, 187); /* Change background color */
    mix-blend-mode: overlay;
    filter: brightness(10);
}

#btn2:hover {
    background-color: rgb(255, 214, 214, 0.7); /* Change background color */
    mix-blend-mode: color-dodge;
    filter: brightness(1.7);

}

#lienzo {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #2020cc;
}

header {
    position: absolute;
    top: 0; left: 0;
    padding: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    position: relative;
    text-align: right;
    font-size: 4vh;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    /*mix-blend-mode: luminosity;*/
}

.subtitle {
    position: relative;
    padding: 2vh 0 0 2vh;
    font-size: 14vh;
}

#centroLogo {
    position: absolute;
    bottom: 5vh;
    right: 2.2vh;
    width: 10vh;
}